/* Float stijlen Naam pagina voor Koor Kaskedieze website */

h2 {
    padding-top: 0.5em;
    font-weight: lighter;
}

table {
  width:700px;
  margin-bottom: 0.5em;
  font-family: Helvetica;
  font-size: 14px;
  color:#fff;
  background-color:#ccc;
  border-spacing: 5px 5px;
  border:2px solid #ccc;
}
th {
  width:700px;
  height:35px;
  text-align:center;
  color:#000;
  background-color: #799997;
  border:1px solid #fff;
}
td {
  color:#000;
  font-style:italic;
  text-align:left;
  background-color: #fff;
  border:1px solid #fff;
}

.nowrap {
    white-space: nowrap;
}
