/* stijlen voor Koor Kaskedieze website */

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 100%;
  background-color: rgb(245, 245, 215);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

header {
  margin: 0px;
  padding: 0px;
  background-size: 700px 85px;
  background-repeat: no-repeat;
}

.blauwtop {
  background-image: url('../images/BlauwTop.png');
  background-color: rgb(208,232,233);

}

.geeltop {
  background-image: url('../images/GeelTop.png');
  background-color: rgb(249,242,186);

}

.groentop {
  background-image: url('../images/GroenTop.png');
  background-color: rgb(217,235,160);

}

h1 {
  margin: 0px;
  padding: 0px;
  height: 85px;
  font-style: italic;
  font-weight: lighter;
  font-stretch: expanded;
  font-size: 2.5em;
  display: table-cell;
  vertical-align: middle;
  text-indent: 0.2em;
}

nav {
  padding: 0px;
}

nav ul.blauw {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.blauw {
  background-color: rgb(208,232,233);
}

.geel{
  background-color: rgb(249,242,186);
}

.groen {
  background-color: rgb(217,235,160);
}

.vertical-container {
  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

main {
  background-color: lightyellow;
}

main.foto {
  background-image: url('../images/fotos_bkgnd.jpg');
  background-repeat: repeat-y;
}

h2 {
  font-weight: lighter;
  font-size: 1.3em;
}

h2.film {
    padding-top: 10px;
    font-size: 1.4em;
    text-align: center;
}

.contact {
    font-size: 1.0em;
    line-height: 1.1em;
}

main.contact table tr p a {
  text-decoration: none;
}

h2.contact {
  font-size: 1.4em;
  color: mediumblue;
  text-decoration: underline;
  text-decoration-color: mediumblue;
  text-decoration-style: solid;
}

h3.contact {
  color: mediumblue;
  text-decoration: underline;
}

div.film {
  text-align: center;
}

main.welkom {
  margin: 10px 50px 10px 250px;
  font-size: 130%;
  line-height: 130%;
}

div.palmboom {
  margin: 10px 250px 10px 15px;
  font-size: 120%;
  line-height: 120%;
}

.naam {
  margin: 0px;
  padding: 10px 0px;
  font-size: 120%;
  line-height: 120%;
}

.film {
  font-size: 110%;
  line-height: 110%;
}

main.luisteren{
    margin-bottom: 1em;
}

th.luisteren {
  font-size: 1.5em;
  font-weight: lighter;
}

button.leden {
  background-color: rgb(255, 209, 83);
  height: auto;
  border-color: indigo;
  box-shadow: 5px 5px 3px mediumpurple;
  border-width: thick;
  border-radius: 1.0em;
  display: inline-block;
  font-size: 1.5em;
  color: indigo;
}

.right {
  text-align: right;
}

footer {
  border-style: dotted;
  border-color: indigo;
  font-size: 0.9em;
}

footer p {
  padding-left: 10px;
}
