/* Tabel stijl Luisteren pagina voor Koor Kaskedieze website */

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1em;
  max-width: 800px;
}

th {
  padding: 15px;
  width: 50%;
  text-align: left;
}

td {
  padding: 15px;
}
