/* Flex stijlen Naam pagina voor Koor Kaskedieze website */

.flex-naam-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    height: 1400px;
    background-color: lightyellow;
}

.flex-naam-item-1 {
    background-color: LemonChiffon;
    width: 300px;
    min-width: 250px;
    height: 500px;
    margin: 5px;
    padding: 5px;
}

.flex-naam-item-2 {
    background-color: LemonChiffon;
    min-width: 250px;
    min-height: 355px;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}

.flex-naam-item-3 {
    background-color: LemonChiffon;
    min-width: 270px;
    min-height: 370px;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}

.flex-naam-item-4 {
    background-color: LemonChiffon;
    width: 300px;
    min-width: 250px;
    min-height: 300px;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}

.flex-naam-item-5 {
    background-color: LemonChiffon;
    width: 700px;
    min-width: 700px;
    height: 230px;
    margin: 5px;
}

/* not yet used */

.vertical-container {
  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

/* neither these: */

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
